<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.clover.native_pidgin_test">

  <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="clover.permission.ACTION_PAY"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="clover.android.permission.ADD_HDMI_WINDOW"/>
  <uses-permission android:name="com.clover.remote.terminal.permission.REMOTE_TERMINAL"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_LOGS" />


  <application
      android:name=".NativePidginTestApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name="com.clover.pidgin_test_native_lib.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service
        android:name=".services.LogCatReaderService"
        android:enabled="true"
        android:exported="true">
    </service>
  </application>

</manifest> <!-- android:name="android.support.multidex.MultiDexApplication" -->
